<h1>New Post</h1>

<form action="/posts" method="post">
  <%# add form fields %>


  
  <p>
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
  </p>
  <p>
    <label for="image">Image URL</label>
    <input type="text" name="image" id="image">
    <label for="body">Body</label>
    <input type="text" name="body" id="body">
  
  
  </p>
  



  <button>Submit</button>
</form>
